@use "@angular/material" as mat;
@include mat.core();
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,400;1,600&display=swap");

@import "styles/_reset";
@import "styles/colors";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: $background-light;
}

.site-wrapper {
  padding: 3rem 0 3rem 0;
  position: relative;
  z-index: 2;
  background-color: $background-light;
}

.container {
  padding: 1rem;
}

p {
  line-height: 1.5;
  margin-bottom: 0.7rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 2;
}

// Form Styles

input {
  background-color: $form-input-background;
  border: solid 1px $form-input-background;
  box-shadow: 5px 5px 8px $form-component-shadow;
  border-radius: 5px;
  padding: 0.5rem 1rem;

  &:focus,
  &:active {
    outline: 2px solid $black;
  }

  &.error {
    box-shadow: unset;
    border-radius: 5px 5px 0 0;
  }
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  background-color: $button-background;
  text-shadow: 1px 1px lighten($button-font, 50%);
  color: $button-font;
  box-shadow: 4px 4px 7px $shadow-light;

  &:disabled {
    cursor: not-allowed;
    box-shadow: unset;
    border: solid 1px $button-border-disabled;
    color: lighten($button-font, 15%);
    background-color: $button-background-disabled;
  }
}

form,
.form {
  width: 100%;
  padding: 2rem;

  &__contained {
    width: 80%;
    max-width: 550px;
    margin: auto;

    border-radius: 10px;
    background-color: $form-background;
  }

  .alert {
    padding: 0.5rem 1rem;
    color: $error-font;
    background-color: $error;
    border-radius: 5px;
  }

  h2 {
    padding-bottom: 0.5rem;
  }

  section {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;
    margin-bottom: 1rem;

    .alert {
      border-radius: 0 0 5px 5px;
    }
  }

  button[type="submit"] {
    margin-top: 1rem;
  }
}

.status-message {
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  border-radius: 5px;
  border: solid 1px $black;
  background-color: $background-dark;
}
