<div class="password-reset-page" [ngSwitch]="passwordResetPage">
  <section
    id="request-password-reset"
    class="container"
    *ngSwitchCase="PasswordResetPageType.Requesting"
  >
    <form
      class="form form__contained password-reset-request-form"
      (submit)="onPasswordResetRequestSubmit()"
      [formGroup]="resetPasswordForm"
    >
      <header>
        <h2>Password reset</h2>
        <p>Use the form below to send a password reset request...</p>
      </header>

      <section>
        <label for="emailAddress">Email</label>
        <input type="email" id="emailAddress" formControlName="email" />
      </section>

      <button type="submit" class="button" [disabled]="!canSubmit">
        Submit
      </button>
    </form>

    <div class="status-message" *ngIf="passwordResetRequestSent">
      <header class="status-message__header">
        <h3>Password reset email sent</h3>
      </header>
      <main class="status-message__body">
        <p>
          If you previously signed up with us, a password reset email has been
          sent to the email address: {{ email?.value }}
        </p>
        <p>
          The password reset provided will last for one hour before expiring.
        </p>
      </main>
    </div>
  </section>

  <section
    id="submit-password-reset"
    class="container"
    *ngSwitchCase="PasswordResetPageType.Submitting"
  >
    <form
      class="form form__contained password-reset-submit-form"
      (submit)="onPasswordResetSubmit()"
      [formGroup]="submitPasswordForm"
    >
      <h2>Hold on while we look into this for you...</h2>
      <p>We are working on resetting your password!</p>

      <section>
        <label for="password">Your new password</label>
        <input
          type="password"
          placeholder="password"
          formControlName="password"
        />
      </section>
      <button type="submit" class="button" [disabled]="!canSubmit">
        Reset password
      </button>
    </form>

    <div [ngSwitch]="passwordResetStatus">
      <div class="status-message" *ngSwitchCase="PasswordResetStatus.Succeeded">
        <header class="status-message__header">
          <h3>Success</h3>
        </header>
        <main class="status-message__body">
          <p>
            Your password has been successfully reset, please
            <a [routerLink]="['/auth', 'login']">log in</a> to access your
            shopping lists.
          </p>
        </main>
      </div>

      <div class="status-message" *ngSwitchCase="PasswordResetStatus.Failed">
        <header class="status-message__header">
          <h3>Hmmm</h3>
        </header>
        <main class="status-message__body">
          <p>
            There has been an issue resetting your password, please try
            <a [routerLink]="['/auth', 'passwordReset']">resetting</a> your
            password again.
          </p>
        </main>
      </div>
    </div>
  </section>
</div>
