<nav class="container" class="nav">
  <header>
    <section class="logo">
      <h1>Sh</h1>
    </section>
    <section class="nav__buttons">
      <button [disabled]="!backButtonHasPath()" (click)="onBackButtonClick()">
        <mat-icon class="backButton" aria-label="Back button"
          >keyboard_backspace</mat-icon
        >
      </button>
      <button (click)="toggleMenu()" aria-label="Menu toggle">Menu</button>
    </section>
  </header>

  <section class="nav__menu" [class.nav__menu--open]="menuIsOpen">
    <header *ngIf="hasHeading" class="nav__header">
      <h2>{{ heading }}</h2>
    </header>

    <section
      class="nav__items"
      *ngIf="
        navigationType === NavigationType.Authenticated;
        else unauthenticatedMenu
      "
    >
      <ul role="list" class="nav__itemList">
        <li class="nav__item"><a routerLink="" class="nav__link">Home</a></li>
        <li class="nav__item">
          <a [routerLink]="['list']" class="nav__link">Your lists</a>
        </li>
        <li class="nav__item">
          <a
            [routerLink]="['auth', 'login']"
            (click)="onLogout()"
            class="nav__link"
            >Logout</a
          >
        </li>
      </ul>
    </section>
  </section>
</nav>
<ng-template #unauthenticatedMenu>
  <section class="nav__items">
    <ul role="list" class="nav__itemList">
      <li class="nav__item"><a routerLink="" class="nav__link">Home</a></li>
      <li class="nav__item">
        <a [routerLink]="['/auth', 'login']" class="nav__link">Login</a>
      </li>
      <li class="nav__item">
        <a [routerLink]="['/auth', 'register']" class="nav__link">Sign up</a>
      </li>
    </ul>
  </section>
</ng-template>
