<form
  class="container form form__contained login-form"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <h2>Login</h2>

  <div class="alert" *ngIf="submitErrors.length > 0">
    <div *ngFor="let error of submitErrors" class="alert__item">
      {{ error }}
    </div>
  </div>

  <section>
    <label for="emailAddress">Email</label>
    <input
      type="email"
      name="email"
      id="emailAddress"
      formControlName="email"
      [ngClass]="{ error: email?.invalid && (email?.dirty || email?.touched) }"
    />

    <div
      *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="email?.errors?.['required']">
        An email address is required.
      </div>
      <div *ngIf="email?.errors?.['email']">
        The value entered is not an email address.
      </div>
    </div>
  </section>

  <section>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      formControlName="password"
      [ngClass]="{
        error: password?.invalid && (password?.dirty || password?.touched)
      }"
    />

    <div
      class="alert alert-danger"
      *ngIf="password?.invalid && (password?.dirty || password?.touched)"
    >
      <div *ngIf="password?.errors?.['required']">A password is required.</div>
    </div>
  </section>

  <button
    type="submit"
    class="button"
    [disabled]="isSubmitting || loginForm.invalid"
  >
    Login
  </button>

  <p>Not registered? <a [routerLink]="['/auth', 'register']">sign up</a>.</p>
</form>
