@use "../../../../styles/colors.scss" as c;

// Variable setup
$border-color: c.$shadow-light;

.functionBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 0 auto 1.5rem auto;
  background-color: c.$white;
  border: solid 1px c.$white;
  border-radius: 3rem;

  transition: box-shadow 250ms ease;
  box-shadow: 7px 7px 12px c.$shadow-light;

  &:focus-within {
    border-color: $border-color;
    box-shadow: unset;
  }

  &__logo {
    .logo {
      margin: 0;
      font-size: 1.5rem;
      color: c.$black;
    }
  }

  &__main {
    input[type="text"] {
      margin: 0;
      border: none;
      padding: 1rem;
      background-color: transparent;

      outline: none;
      box-shadow: unset;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-around;
    gap: 0.25rem;

    button {
      margin: 0;
      padding: 0 0.1rem;
      background-color: transparent;
      border: none;
      cursor: pointer;

      font-weight: bold;
      font-size: 1.25rem;
    }

    .add-function {
      font-size: 1.9rem;
    }
  }
}
