<section class="contents">
  <header class="contents__header container">
    <h2>Shopping Lists</h2>
  </header>
  <main class="contents__main">
    <p class="container">Your list of shopping lists</p>
    <ul class="contents__items">
      <li *ngFor="let list of shoppingLists">
        <a [routerLink]="['/list', list.id]" class="contents__item container">
          <h4 class="contents__itemName">{{ list.name }}</h4>
          <p class="contents__itemDescription">{{ list.description }}</p>
          <p class="contents__itemCount">{{ list.items.length }}</p>
        </a>
      </li>
    </ul>
  </main>
</section>
