.functionBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: auto;
  background-color: white;
  border: solid 1px white;
  border-radius: 30px;

  transition: box-shadow 250ms ease;
  box-shadow: 7px 7px 12px lightgray;

  &:focus-within {
    border-color: rgb(236, 228, 228);
    box-shadow: unset;
  }

  &__logo {
    .logo {
      font-size: 1.5rem;
      color: rgb(177, 90, 177);
    }
  }

  &__main {
    input[type="text"] {
      margin: 0;
      border: none;
      padding: 1rem;
      background-color: transparent;

      outline: none;
    }
  }

  &__actions {
    button {
      margin: 0;
      padding: 0 0.1rem;
      background-color: transparent;
      border: none;
      cursor: pointer;

      font-weight: bold;
      font-size: 1.25rem;
    }
  }
}
